Repository TriggerReactor/TriggerReactor, changes with the labels that .github/labeler.yml gives for each.
All labels: package:core, package:bukkit, package:bukkit-latest, package:bukkit-legacy, package:sponge

refactor(Lexer): search better comment line or blocks
  core/src/main/java/io/github/wysohn/triggerreactor/core/script/lexer/Lexer.java
Labels: package:core

refactor(test): add more test cases
  core/src/test/java/io/github/wysohn/triggerreactor/core/script/lexer/TestLexer.java
Labels: package:core

fix: NoSuchFieldError with "WALL_SIGN" obtaining from Material (#502)
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/LocationBasedTriggerManager.java
Labels: package:bukkit

named trigger tests
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/named/NamedTriggerLoader.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/named/NamedTriggerManager.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/named/NamedTriggerLoaderTest.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/named/NamedTriggerManagerTest.java
Labels: package:core

repeating trigger tests
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/repeating/RepeatingTriggerLoader.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/repeating/RepeatingTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/script/interpreter/TaskSupervisor.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/repeating/RepeatingTriggerLoaderTest.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/repeating/RepeatingTriggerManagerTest.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/script/interpreter/TestInterpreter.java
Labels: package:core

implement missing method
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/BukkitTriggerReactorCore.java
Labels: package:bukkit

should use old key
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/TriggerConfigKey.java
Labels: package:core

old key can be null
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/TriggerInfo.java
Labels: package:core

missing index
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/TriggerInfo.java
Labels: package:core

do not allow empty name
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/TriggerInfo.java
Labels: package:core

added tests
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/TriggerInfoTest.java
Labels: package:core

migrate area trigger logics into core
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/bridge/AbstractBukkitWrapper.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/bridge/BukkitLocation.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/bridge/BukkitWorld.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/bridge/entity/BukkitEntity.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/AbstractJavaPlugin.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/BukkitTriggerReactorCore.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/AreaTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/bridge/ILocation.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/bridge/IWorld.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/bridge/entity/IEntity.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/TriggerReactorCore.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/IGameStateSupervisor.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/area/AbstractAreaTriggerManager.java
Labels: package:core, package:bukkit

separate listener and manager
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/AbstractJavaPlugin.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/BukkitTriggerReactorCore.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/AreaTriggerListener.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/share/AbstractCommonFunctions.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/TriggerReactorCore.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/Manager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/area/AreaTrigger.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/area/AreaTriggerManager.java
Labels: package:core, package:bukkit

move core logics
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/AreaTriggerListener.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/area/AreaTriggerManager.java
Labels: package:core, package:bukkit

isolate manager and listener of click/walk trigger
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/bridge/BukkitBlock.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/bridge/BukkitInventory.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/bridge/BukkitLocation.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/bridge/BukkitWorld.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/bridge/entity/BukkitEntity.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/bridge/entity/BukkitPlayer.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/AbstractJavaPlugin.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/BukkitTriggerReactorCore.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/ClickTriggerListener.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/ClickTriggerManager.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/LocationBasedTriggerListener.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/WalkTriggerListener.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/WalkTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/bridge/IBlock.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/bridge/ILocation.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/bridge/IWorld.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/TriggerReactorCore.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/IGameStateSupervisor.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/location/SimpleLocation.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/AbstractTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/area/AreaTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/location/ClickTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/location/LocationBasedTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/location/WalkTriggerManager.java
Labels: package:core, package:bukkit

bad naming
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/AbstractTriggerManager.java
Labels: package:core

Move logics to core
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/bridge/BukkitBlock.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/ClickTriggerListener.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/LocationBasedTriggerListener.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/WalkTriggerListener.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/bridge/IBlock.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/location/LocationBasedTriggerManager.java
Labels: package:core, package:bukkit

pass activity type as variable
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/ClickTriggerListener.java
Labels: package:bukkit

encapsulate TriggerInfo
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/TriggerConfigKey.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/TriggerInfo.java
Labels: package:core

keep the frequently used method .2
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/TriggerInfo.java
Labels: package:core

keep the frequently used method
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/TriggerInfo.java
Labels: package:core

overloading method
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/TriggerInfo.java
Labels: package:core

use TriggerConfigKey as appropriate
  core/src/main/java/io/github/wysohn/triggerreactor/core/config/InvalidTrgConfigurationException.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/TriggerReactorCore.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/TriggerConfigKey.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/TriggerInfo.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/area/AreaTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/command/AbstractCommandTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/custom/AbstractCustomTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/inventory/AbstractInventoryTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/repeating/AbstractRepeatingTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/tools/ValidationUtil.java
Labels: package:core

separate listener from inventory manager
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/BukkitInventoryHandle.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/BukkitTriggerReactorCore.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/InventoryTriggerListener.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/InventoryTriggerManager.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/tools/migration/InvTriggerMigrationHelper.java
  bukkit/src/test/java/js/executor/AbstractTestExecutors.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/IInventoryHandle.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/TriggerReactorCore.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/inventory/InventoryTrigger.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/inventory/InventoryTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/tools/migration/AbstractInvTriggerMingrationHelper.java
Labels: package:core, package:bukkit

isolate custom trigger and registration logics
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/BukkitEventRegistry.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/BukkitTriggerReactorCore.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/CustomTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/IEventHook.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/IEventRegistry.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/TriggerReactorCore.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/custom/CustomTrigger.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/custom/CustomTriggerManager.java
Labels: package:core, package:bukkit

isolate command trigger and registration logics
  bukkit/latest/src/main/java/io/github/wysohn/triggerreactor/bukkit/bridge/entity/BukkitPlayer.java
  bukkit/latest/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/TriggerReactor.java
  bukkit/legacy/src/main/java/io/github/wysohn/triggerreactor/bukkit/bridge/entity/BukkitPlayer.java
  bukkit/legacy/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/TriggerReactor.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/bridge/BukkitCommandSender.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/bridge/entity/BukkitPlayer.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/BukkitCommand.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/BukkitCommandHandler.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/BukkitTriggerReactorCore.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/CommandTriggerManager.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/ICommandMapHandler.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/bridge/ICommandSender.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/TriggerReactorCore.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/command/ICommand.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/command/ICommandExecutor.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/command/ICommandHandler.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/command/CommandTrigger.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/command/CommandTriggerManager.java
  docs/command_registration.jpg
Labels: package:core, package:bukkit, package:bukkit-latest, package:bukkit-legacy

merge before adding more stuff
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/area/AreaTriggerManager.java
Labels: package:core

reloading individual trigger from actual file
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/AbstractTriggerManager.java
Labels: package:core

named trigger tests
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/named/NamedTriggerLoader.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/named/NamedTriggerManager.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/named/NamedTriggerLoaderTest.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/named/NamedTriggerManagerTest.java
Labels: package:core

click/walk trigger tests
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/BukkitTriggerReactorCore.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/ClickTriggerListener.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/LocationBasedTriggerListener.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/WalkTriggerListener.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/TriggerReactorCore.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/Trigger.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/location/Activity.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/location/ClickHandler.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/location/ClickTrigger.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/location/ClickTriggerLoader.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/location/ClickTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/location/LocationBasedTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/location/WalkTrigger.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/location/WalkTriggerLoader.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/location/WalkTriggerManager.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/location/ClickTriggerLoaderTest.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/location/ClickTriggerManagerTest.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/location/LocationBasedTriggerManagerTest.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/location/WalkTriggerLoaderTest.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/location/WalkTriggerManagerTest.java
Labels: package:core, package:bukkit

missing warning messages
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/location/LocationBasedTriggerManager.java
Labels: package:core

move named trigger manager to core
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/BukkitTriggerReactorCore.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/NamedTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/TriggerReactorCore.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/named/NamedTriggerManager.java
Labels: package:core, package:bukkit

New model for Tab-completion of Command Trigger.
  build.gradle
  bukkit/latest/src/main/resources/plugin.yml
  bukkit/legacy/src/main/resources/plugin.yml
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/BukkitCommand.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/TriggerReactorCore.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/command/ICommand.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/command/CommandTrigger.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/command/CommandTriggerLoader.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/command/CommandTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/command/ITabCompleter.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/command/ITabCompleterImpl.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/command/PredefinedTabCompleters.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/command/CommandTriggerLoaderTest.java
Labels: package:core, package:bukkit, package:bukkit-latest, package:bukkit-legacy

tests for inventory trigger
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/inventory/InventoryTriggerLoader.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/inventory/InventoryTriggerManager.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/inventory/InventoryTriggerLoaderTest.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/inventory/InventoryTriggerManagerTest.java
Labels: package:core

move logics into core
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/InventoryTriggerListener.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/inventory/InventoryTriggerManager.java
Labels: package:core, package:bukkit

move repeating trigger manager to core
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/BukkitTriggerReactorCore.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/RepeatingTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/TriggerReactorCore.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/repeating/RepeatingTrigger.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/repeating/RepeatingTriggerManager.java
Labels: package:core, package:bukkit

tests for custom trigger
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/custom/CustomTrigger.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/custom/CustomTriggerLoader.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/custom/CustomTriggerManager.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/custom/CustomTriggerLoaderTest.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/custom/CustomTriggerManagerTest.java
Labels: package:core

TemporaryFolder methods should only be used in tests
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/area/AreaTriggerLoaderTest.java
Labels: package:core

tests for area trigger
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/AreaTriggerListener.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/TriggerReactorCore.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/GlobalVariableManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/AbstractTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/area/AreaTrigger.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/area/AreaTriggerLoader.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/area/AreaTriggerManager.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/area/AreaTriggerLoaderTest.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/area/AreaTriggerManagerTest.java
Labels: package:core, package:bukkit

command trigger tests
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/ITriggerLoader.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/area/AreaTriggerLoader.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/command/CommandTriggerLoader.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/command/CommandTriggerManager.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/command/CommandTriggerLoaderTest.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/command/CommandTriggerManagerTest.java
Labels: package:core

.github/labeler.yml:

'package:core':
  - 'core/*'
  - 'core/**/*'

'package:bukkit':
  - 'bukkit/src/*'
  - 'bukkit/src/**/*'

'package:bukkit-latest':
  - 'bukkit/latest/*'
  - 'bukkit/latest/**/*'

'package:bukkit-legacy':
  - 'bukkit/legacy/*'
  - 'bukkit/legacy/**/*'

'package:sponge':
  - 'sponge/*'
  - 'sponge/**/*'
