Repository TriggerReactor/TriggerReactor, pull requests merged in 2022-09, with the labels that each got.

#502 fix: NoSuchFieldError with "WALL_SIGN" obtaining from Material
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/LocationBasedTriggerManager.java
Labels: package:bukkit-latest

#497 Development inconsistent json
  core/src/main/java/io/github/wysohn/triggerreactor/core/config/InvalidTrgConfigurationException.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/TriggerReactorCore.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/TriggerConfigKey.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/TriggerInfo.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/area/AbstractAreaTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/command/AbstractCommandTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/custom/AbstractCustomTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/inventory/AbstractInventoryTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/repeating/AbstractRepeatingTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/tools/ValidationUtil.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/TriggerInfoTest.java
Labels: priority:low, package:core

#509 listener registration fix
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/BukkitTriggerReactorCore.java
Labels: package:bukkit

#510 Handle null config
  core/src/main/java/io/github/wysohn/triggerreactor/core/config/source/IConfigSource.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/TriggerInfo.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/command/CommandTriggerManager.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/area/AreaTriggerLoaderTest.java
Labels: package:core

#511 Development bug/location triggers events
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/LocationBasedTriggerListener.java
Labels: package:bukkit

#512 Development bug/cmd trigger not execute
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/BukkitCommand.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/BukkitCommandHandler.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/command/ICommandHandler.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/command/CommandTriggerManager.java
Labels: package:core, package:bukkit

#513 AreaTrigger is folder itself
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/area/AreaTriggerLoader.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/area/AreaTriggerManager.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/area/AreaTriggerLoaderTest.java
Labels: package:core

#515 inventory handle isn't initialized
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/BukkitTriggerReactorCore.java
Labels: package:bukkit

#516 Development feature/dup key warning
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/AbstractTriggerManager.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/TriggerInfo.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/AbstractTriggerManagerTest.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/TriggerInfoTest.java
Labels: package:core

#517 add warning about the upper case command triggers
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/TriggerReactorCore.java
  core/src/main/java/io/github/wysohn/triggerreactor/tools/StringUtils.java
Labels: package:core

#522 refactor(lexer): Skip comment while read import paths
  core/src/main/java/io/github/wysohn/triggerreactor/core/script/lexer/Lexer.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/script/lexer/TestLexer.java
Labels: package:core
