Repository TriggerReactor/TriggerReactor, pull requests merged in 2023-07, with the labels that each got.

#558 Fix typo
  core/src/main/java/io/github/wysohn/triggerreactor/core/script/interpreter/Interpreter.java
Labels: package:core

#557 Support for more sophisticated numeric literals
  core/src/main/java/io/github/wysohn/triggerreactor/core/script/Token.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/script/lexer/Lexer.java
  core/src/main/java/io/github/wysohn/triggerreactor/tools/StringUtils.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/script/lexer/TestLexer.java
Labels: package:core

#551 Improve Give Executor
  bukkit/src/main/resources/Executor/GIVE.js
  bukkit/src/test/java/js/executor/AbstractTestExecutors.java
Labels: package:bukkit

#564 Support hex color
  bukkit/src/main/resources/Executor/BROADCAST.js
  bukkit/src/main/resources/Executor/LOG.js
  bukkit/src/main/resources/Executor/MESSAGE.js
  bukkit/src/test/java/js/executor/AbstractTestExecutors.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/Dependency.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/IPluginManagement.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/Platform.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/TriggerReactorCore.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/util/ClassUtils.java
Labels: package:core, package:bukkit

#563 Deprecate `:` operator in FOR statement, add `..` and `..=` operators instead
  core/src/main/java/io/github/wysohn/triggerreactor/core/script/Token.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/script/interpreter/EmptyTaskSupervisor.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/script/interpreter/Interpreter.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/script/lexer/Lexer.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/script/parser/Parser.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/script/interpreter/TestInterpreter.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/script/lexer/TestLexer.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/script/parser/TestParser.java
Labels: package:core

#566 Treat lambda functions as general functions possible
  core/src/main/java/io/github/wysohn/triggerreactor/core/script/interpreter/Interpreter.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/script/interpreter/lambda/LambdaFunction.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/script/interpreter/TestInterpreter.java
Labels: package:core
