Repository TriggerReactor/TriggerReactor, pull requests merged in 2023-08, with the labels that each got.

#577 fix "this.interpreter is null" when an inventory trigger has just been created
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/inventory/InventoryTriggerManager.java
Labels: package:core

#578 Feat/trigger sub folder
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/ITriggerLoader.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/TriggerInfo.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/manager/trigger/ITriggerLoaderTest.java
Labels: package:core

#580 refine exceptions
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/ExceptionHandle.java
Labels: package:core

#581 allow control of the original command
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/bridge/BukkitCommand.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/main/BukkitCommandHandler.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/command/ICommand.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/main/command/ICommandExecutor.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/manager/trigger/command/CommandTriggerManager.java
Labels: package:core, package:bukkit

#584 add run(args..) in LAMBDA Function
  core/src/main/java/io/github/wysohn/triggerreactor/core/script/interpreter/lambda/LambdaFunction.java
  core/src/test/java/io/github/wysohn/triggerreactor/core/script/interpreter/TestInterpreter.java
Labels: package:core

#587 Fix that being panicked by passing "0" at the last
  core/src/main/java/io/github/wysohn/triggerreactor/core/script/lexer/Lexer.java
Labels: package:core

#585 Fix that #VELOCITY Executor
  bukkit/src/main/resources/Executor/VELOCITY.js
  bukkit/src/test/java/js/executor/AbstractTestExecutors.java
Labels: bug, domain:executor/placeholder, package:bukkit

#591 Readable identifier on calling `#toString()`
  core/src/main/java/io/github/wysohn/triggerreactor/core/config/source/GsonConfigSource.java
  core/src/main/java/io/github/wysohn/triggerreactor/core/config/source/IConfigSource.java
Labels: package:core, build-pr-jar

#594 Manuel downstream
  .github/workflows/build.yml
  .github/workflows/dump-context.yml
  .github/workflows/update-bunch-on-tag.yml
  build.gradle
  bukkit/libs/jshader.jar
  core/src/main/java/io/github/wysohn/triggerreactor/core/script/validation/Validator.java
  gradle/wrapper/gradle-wrapper.properties
Labels: package:core
