Repository TriggerReactor/TriggerReactor, pull requests merged in 2023-11, with the labels that each got.

#621 explicitly specify charset as utf8
  core/src/main/java/io/github/wysohn/triggerreactor/tools/FileUtil.java
Labels: package:core, build-pr-jar

#628 Fix/missing dependencies
  bukkit/build.gradle
Labels: build-pr-jar

#631 Logger used when third-party plugin are loaded is null
  bukkit/latest/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/share/api/coreprotect/CoreprotectSupport.java
  bukkit/latest/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/share/api/vault/VaultSupport.java
  bukkit/legacy/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/share/api/coreprotect/CoreprotectSupport.java
  bukkit/legacy/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/share/api/vault/VaultSupport.java
  bukkit/src/main/java/io/github/wysohn/triggerreactor/bukkit/manager/trigger/share/api/APISupport.java
Labels: bug, package:bukkit-latest, package:bukkit-legacy, package:bukkit
